{% extends 'pictaroo/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
    <div>
        <h1>About Us</h1>
        <h3>Welcome to the Pictaroo</h3>
        <p>Pictaroo is an online image sharing community that allows people to both upload their own images, and view<br />
        images that other people have chosen to share to the online Pictaroo community. It also allows users to sort images <br/>
        by categories to view pictaures that suit their interests.
        </p>
        <p>Once registered, users can interact with each other by upvoting or downvoting images, and adding comments to their <br/>
        own pictures and those shared by others. Users can save their favourite images uploaded by others in order to view them <br/> at a later date.
        </p>
        <h4>This website is developed as part of the Internet Technology Group Project</h4>
        <h3>FAQ</h3>
    </div>

    <div>
        <h3>Suggestion</h3>
        <form action="action_page">
            <input type="text" name="Suggestion" style="width:545px; height:50px"><br/>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h3>Contact way</h3>
        <p>This is a Scecret! haha(Chinese)</p>
    </div>

{% endblock %}