{% extends 'pictaroo/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Image
{% endblock %}

{% block body_block %}
<div>
    {% if category %}
    <h1>Add a Image to {{category.name}}</h1>

        <form id ="image_form", method="post" action="/pictaroo/category/{{ category.slug }}/add_image/">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}


                <input type="submit" name="submit" value="Add new Image" />

        </form>
            {% else %}
                A category by this name does not exist
            {% endif %}
            </div>
{% endblock %}