{% extends 'pictaroo/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>

        {% if images %}
            <ul>
                {% for image in images %}
                    <li><a href="{{ image.url }}">{{ image.title }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No images currently in category. </strong>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'add_image' category.slug %}">Add a Image</a>
        {% else %}
                Please register OR login to add a new Image
        {% endif %}
    {% else %}
        the specified category does not exist!
    {% endif %}
{% endblock %}