<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>

<body>
    <div>
        <h1>Pictaroo</h1>
        <br />


        <form id="login_form" method="post" action="{% url 'index' %}">
         {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
         <br />
            Password: <input type="password" name="password" value="" size="50" />
         <br />
        <input type="submit" value="Log In" />
        </form>
        <br />

        <a href="/pictaroo/register/">Sign Up</a>
        <a href='/pictaroo/my_account/'>MyAccount</a>
    </div>

</body>
</html>