<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<!--Template version for now, will change when we have a base template up and running -->
<body>
    {% if registered %}
    <strong>You have successfully registered</strong>
    <a href="{% url 'my_account' %}">Go to Your Account</a><br/>
    {% else %}
        <strong>Register your account here: </strong>
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</body>
</html>